<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <li *ngFor="let post of posts">{{post.title}}</li>
  <li *ngFor="let comment of comments$ | async">{{comment.body}}</li>
</div>



